<div class="container">
	<!-- Header
	=========================================================================================================================== -->
	<header class="clearfix">
		<!-- Static navbar -->
		<div class="navbar navbar-default navbar-static-top">
			<div class="innher-header">
				<div class="navbar-header">
					<button type="button" class="navbar-toggle" data-toggle="collapse" data-traget=".navbar-collapse" >
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a href="http://google.com"><img src="assets/logo.png" alt="google" width="350px" /></a>
				</div>
				<div class="navbar-collapse collapse">
					<ul class="nav navbar-nav navbars">
						<li><a href="/books"><button type="button" class="btn btn-primary btn-lg"><strong>Store</strong></button></a></li>
						<li><a href="/books/new"><button type="button" class="btn btn-primary btn-lg"><strong>New</strong></button></a></li>
						<li><a href="/users/sign_in"><button type="button" class="btn btn-primary btn-lg"><strong>Sing In</strong></button></a></li>
						<li><a href="/users/sign_up"><button type="button" class="btn btn-primary btn-lg"><strong>Sing Up</strong></button></a></li>
					</ul>
				</div>
			</div>
		</div>
	</header>
	<!-- Header End
	============================================================================================================================ -->

	<!-- Main Content
	============================================================================================================================ -->
	<div class="section">
		<div>
			<div class="ek-background">
				<img class="img-responsive" src="assets/main_book.jpg" alt="Books">
				<div class="carousel-caption">
					<h1 style="text-shadow: 2px 2px 4px black;"><span class="sym">“</span>A room without books is like a body without a soul.<span class="sym">“</span></h1>
					<p class="lead" style="text-shadow: 2px 2px 4px black;">Sometimes, you read a book and it fills you with this weird evangelical zeal, and you become convinced that the shattered world will never be put back together unless and until all living humans read the book.</p>
				</div>
			</div>
			<center><h1>~So many books, so little time~</h1></center>
		</div>
	</div>
	
	<!-- Main End
	============================================================================================================================ -->

	<!-- Footer
	============================================================================================================================ -->
	<footer class="panel panel-default">
		<div class="panel-body">
			<p class="text-center">“If you only read the books that everyone else is reading, you can only think what everyone else is thinking.”</p>
		</div>
		<div class="panel-footer">
			<p class="text-center">copyright 2017 | all rights reserverd.</p>
		</div>
	</footer>

	<!-- Footer End
	============================================================================================================================ -->

</div>

