<div class="container">
	<h1>New Books</h1>

	<%= render 'form' %>

	<%= link_to 'Back', root_path, {:class => 'links'} %>

	<%= link_to 'Sign Out', destroy_user_session_path, :method => :delete, :class=>'btn btn-primary btn-lg link_singout' %>
</div>